version: '3.8'

services:
  api:
    build: ./api
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
    volumes:
      - ./api:/app
      - /app/node_modules

  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - api
    volumes:
      - ./client:/app
      - /app/node_modules

